html 
    head 
        title Pug 
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        ul#topmenu 
            li
                a(href="/") Home 
            li 
                a(href="/contact-us") Contact Us     
        hr
        block content 
        hr 
        block footer

        //- master page ny apny pas locations chori hn jahn pr ap apna content add up kr skty hn.